html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #ededed;
}

/* utilities */

.icon {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
}

.links {
  display: flex;
  gap: 24px;
  padding: 0;
  align-items: center;
}

.title {
  color: #191919;
  height: auto;
  font-size: 48px;
  font-weight: bold;
  align-items: flex-start;
}

/* header */

.header {
  padding: 32px 15px 32px 15px;
  gap: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btns {
  height: 100%;
  border: none;
  gap: 10px;
  color: #ffffff;
  background-color: #191919;
  cursor: pointer;
}

.dots {
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  rotate: 45deg;
}

/* main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

/* slider */

.slider {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 60px;
  margin: 0;
  color: #191919;
  max-width: 100%;
}

.main-img {
  border-radius: 12px;
}

.slider_previews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #191919;
}

.preview {
  display: flex;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  background: #19191915;
  border-radius: 16px;
}

/* event-posters */

.events {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 180px;
}

h1 {
  color: #191919;
}

.events_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  height: auto;
  color: #191919;
  font-size: 24px;
}

.events_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 60px 32px 60px;
  gap: 80px;
}

.names {
  padding: 0;
  color: #191919;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
}

.events_main-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 32px 60px 32px 60px;
  color: #191919;
  background-color: #1919190d;
  gap: 40px;
  width: 100%;
}

.ticket {
  width: 175px;
  height: 51px;
  padding: 15px 30px 14px 30px;
  border-radius: 50px;
  gap: 10px;
  border: none;
  color: white;
  background-color: #05b093;
}

.date {
  display: flex;
  align-items: center;
  height: 119px;
  width: 79px;
  padding: 0;
  margin: 0;
  font-size: 64px;
  justify-content: center;
}

.events_main-img {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.events_main-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 415px;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.img-scale {
  display: flex;
  width: 117px;
  height: 42.83px;
}

.month {
  font-size: 32px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.poster-date {
  width: 79px;
  height: 119px;
  gap: 0;
  padding: 0;
  margin: 0;
}

/* news-calendar */

.news-calendar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}

.news {
  max-width: 750px;
  height: auto;
}

.news-main {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.news-main_item {
  flex-direction: row;
  color: #191919;
  gap: 24px;
}

.news-title {
  font-size: 24px;
  font-weight: 900;
}

.news-p {
  font-size: 16px;
}

/* anonses */

.anonses {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  width: max-content;
}

.anonses_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  height: auto;
  color: #191919;
  font-size: 24px;
}

.anonses_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.anonses_main-item {
  display: flex;
  flex-direction: row;
  color: #191919;
  align-items: center;
  gap: 27px;
}

.anonses_date {
  border: none;
  width: 100px;
  height: 98px;
  padding: 16px 20px 16px 20px;
  border-radius: 12px;
  color: white;
  background-color: #05b093;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(5, 40px);
  color: white;
  gap: 4px;
  padding-top: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1919194d;
  cursor: pointer;
}

.grid-item:nth-child(7n + 2),
.grid-item:nth-child(7n),
.grid-item:nth-child(7n + 5) {
  background-color: #05b093;
}

.name {
  display: block;
  padding-right: 20px;
}

.grid-month-buttons {
  display: flex;
  gap: 20px;
  background-color: #1919190d;
}

.buttons-month {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #191919;
  align-items: flex-end;
}

.buttons {
  display: flex;
  width: 104px;
  height: 48px;
  gap: 8px;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.months {
  display: flex;
  align-self: center;
  font-size: 32px;
  padding-bottom: 50px;
  width: 120px;
}

.arrow {
  align-items: flex-end;
  padding: 12px;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  color: white;
  background-color: #05b093;
  cursor: pointer;
}

.calendar_title {
  position: absolute;
  bottom: 12%;
  left: 5%;
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

.calendar_header {
  position: relative;
}

a {
  text-decoration: none;
  color: #191919;
}

a:hover {
  text-decoration: underline;
}

.header_for_afisha {
  display: flex;
  color: #191919;
  height: auto;
  font-size: 48px;
  font-weight: bold;
  align-items: flex-start;
  padding-bottom: 0px;
  margin-bottom: 0;
  justify-content: center;
  padding-bottom: 20px;
}

.body_vivaldi {
  display: flex;
  flex-direction: column;
}

.footer-vivaldi {
  display: flex;
  justify-content: center;
  color: #191919;
  /* gap: 120px; */
  padding: 0 0 100px 0;
}

.content-vivaldi {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.big-img-vivald {
  width: 70%;
}

.small-imgs {
  display: flex;
  gap: 24px;
  padding-top: 20px;
}

.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 30px 0;
}

.side-contacts {
  color: #191919;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.big-map-contacts {
  padding-bottom: 90px;
}

.black-color {
  color: #ffffff;
}

.black-color:hover {
  color: #f0f0f0;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0px 32px 0px;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
  border-bottom: 1px;
  border-color: white;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 0px 32px 0px;
  gap: 10px;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
  border-bottom: 1px solid white;
}

.footer_logo {
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: flex-start;
}

.footer_nav {
  display: flex;
  flex-direction: column;
}

.footer_nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  color: #ffffff;
  background-color: #191919;
}

.footer_nav-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_contacts-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-note {
  color: white;
}

/* media */

@media screen and (max-width: 380px) {
  body {
    width: 380px !important;
  }

  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 2px;
  }

  .slider {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 60px;
    color: #191919;
    width: 380px;
  }

  .main-img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .slider_previews {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    color: #191919;
  }

  .events {
    width: 380px;
  }

  .event_posters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 180px;
    max-width: 380px;
  }

  .events_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    gap: 0;
  }

  .events_main {
    display: flex;

    max-width: 380px;
  }

  .events_main-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* padding: 15px 15px 15px 15px; */
  }

  .names {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .news-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .news-main {
    display: flex;
    flex-direction: column;
  }

  .calendar {
    max-width: 100%;
  }

  .news-main_img {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }

  .calendar_header {
    max-width: 380px;
  }

  .calendar_header-img {
    display: flex;
    max-width: 380px;
    height: auto;
    border-radius: 12px;
  }

  .grid-month-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 20px 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .buttons-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    padding: 0 35px 0 35px;
  }

  .months {
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .anonses_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 0;
  }

  .anonses {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-bottom: 30px;
  }

  .anonses_main {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    padding: 0;
    margin: 0;
  }

  .contacts-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sides {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 40px 0;
    justify-content: center;
    align-items: center;
  }

  .side-contacts {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .side-contacts-text {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .big-map-contacts-img {
    max-width: 380px;
  }

  .body_vivaldi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 380px;
    justify-content: center;
    align-items: center;
  }

  .header_for_afisha {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 380px;
    justify-content: center;
    align-items: center;
  }

  .big-img-vivald {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-vivaldi {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    justify-content: center;
    align-items: center;
  }

  .content-vivaldi {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 40px 0 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .small-imgs {
    display: flex;
    flex-direction: column;
  }

  .header_for_afisha-txt {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
  }

  .img-vivald {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-vivaldi {
    padding-bottom: 40px;
  }
}
