body {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: #ededed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  padding: 32px 64px 32px 64px;
  gap: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btns {
  height: 100%;
  border: none;
  gap: 10px;
  color: #ffffff;
  background-color: #191919;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 60px;
  margin: 0;
  color: #191919;
  max-width: 100%;
}

.main-img {
  border-radius: 12px;
}

.slider_previews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #191919;
}

.dots {
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  rotate: 45deg;
}

.opera {
  display: flex;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  background: #19191915;
  border-radius: 16px;
}

.event_posters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 180px;
}

h1 {
  color: #191919;
}

.heading-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  height: auto;
  color: #191919;
  font-size: 24px;
}

.icon {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
}

.event_posters-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 60px 32px 60px;
  gap: 80px;
}

.fest {
  display: flex;
  gap: 24px;
  padding: 0;
  align-items: center;
}

.names {
  padding: 0;
  color: #191919;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
}

.poster {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 32px 60px 32px 60px;
  color: #191919;
  background-color: #1919190d;
  gap: 40px;
  width: 100%;
}

.ticket {
  width: 175px;
  height: 51px;
  padding: 15px 30px 14px 30px;
  border-radius: 50px;
  gap: 10px;
  border: none;
  color: white;
  background-color: #05b093;
}

.date {
  display: flex;
  align-items: center;
  height: 119px;
  width: 79px;
  padding: 0;
  margin: 0;
  font-size: 64px;
  justify-content: center;
}

.img-2 {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.poster-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 415px;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.img-scale {
  display: flex;
  width: 117px;
  height: 42.83px;
}

.month {
  font-size: 32px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.poster-date {
  width: 79px;
  height: 119px;
  gap: 0;
  padding: 0;
  margin: 0;
}

.news_header {
  color: #191919;
  height: auto;
  font-size: 48px;
  font-weight: bold;
  align-items: flex-start;
}

.news-calendar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}

.news {
  max-width: 750px;
  height: auto;
}

.news-footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.new {
  flex-direction: row;
  color: #191919;
  gap: 24px;
}

.news-h1 {
  font-size: 24px;
  font-weight: 900;
}

.news-p {
  font-size: 16px;
}

.anonses {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  width: max-content;
}

.anonses_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  height: auto;
  color: #191919;
  font-size: 24px;
}

.anonses_word {
  color: #191919;
  height: auto;
  font-size: 48px;
  font-weight: bold;
  align-items: flex-start;
}

.anonses_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.anons {
  display: flex;
  flex-direction: row;
  color: #191919;
  align-items: center;
  gap: 27px;
}

.data {
  border: none;
  width: 100px;
  height: 98px;
  padding: 16px 20px 16px 20px;
  border-radius: 12px;
  color: white;
  background-color: #05b093;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(5, 40px);
  color: white;
  gap: 4px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1919194d;
}

.grid-item:nth-child(7n + 2),
.grid-item:nth-child(7n),
.grid-item:nth-child(7n + 5) {
  background-color: #05b093;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0px 32px 0px;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
  border-bottom: 1px;
  border-color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0px 32px 0px;
  gap: 10px;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #ffffff;
  background-color: #191919;
  border-bottom: 1px solid white;
}

.fests-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  color: #ffffff;
  background-color: #191919;
}

.sait-name {
  color: white;
}

.name {
  display: block;
}

.fests {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
